<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="n11Api.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CategoryServicePortSoap11">
                    <security mode="Transport" />
                </binding>
                <binding name="CategoryServicePortSoap111" />
            </basicHttpBinding>
        </bindings>
     
      
        <client>
            <endpoint address="https://api.n11.com/ws/categoryService/" binding="basicHttpBinding"
                bindingConfiguration="CategoryServicePortSoap11" contract="ServiceReference1.CategoryServicePort"
                name="CategoryServicePortSoap11" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <n11Api.Properties.Settings>
            <setting name="n11Api_com_n11_api_ProductServicePortService"
                serializeAs="String">
                <value>https://api.n11.com/ws/productService/</value>
            </setting>
            <setting name="n11Api_com_n11_api1_CategoryServicePortService"
                serializeAs="String">
                <value>https://api.n11.com/ws/categoryService/</value>
            </setting>
        </n11Api.Properties.Settings>
    </applicationSettings>
</configuration>